*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    background-color: #0D0D0D;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.card{
    background-color: #eee;
    box-shadow: -10px -10px 5px 5px #333;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    
}

.card h1{
    color: #111;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.icon-decoration{
    position: absolute;
    background-color: #ddd;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    right: 0;
    font-size: 0.7em;
}

.controls{
    width: 100%;
    position: relative;
}

#input-text{
    font-size: .9em;
    border-radius: 50px;
    padding: 15px;
    outline: none;
    border: 2px solid #000;
    width: 100%;

}

#add{
    position: absolute;
    right: -2px;
    width: 120px;
    height: 52px;
    border-radius: 50px;
    background-color:#D92525;
    font-size: 1em;
    border: none;
    font-weight: 400;
    color: #F2F2F2;
    cursor: pointer;
}


.list{
    margin-top: 30px;
    width: 100%;
    color: #000;
}

/* Items de la Lista */
.task{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.item-desc{
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}

.unchecked, .checked{
    width: 30px;
    cursor: pointer;
}

.unchecked:hover, .checked:hover{
    opacity: 0.5;
}


.x{
    position: absolute;
    right: 0px;
    font-size: 1.5em;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.x:hover{
    opacity: 0.5;
}
